<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goldilocks and the Three Bears</title>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="/static/styles.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'banner.html' %}

    <div class="container my-3 bg-white shadow-lg">
      <!-- Removed the in-page title here, since it's included in the banner -->
      <div class="row">
        <div class="col-md-6">{% include 'passage.html' %}</div>
        <div class="col-md-6">{% include 'encounter.html' %}</div>
      </div>
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/dialoguegenerator.js"></script>
  </body>
</html>
