<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clickable Text</title>
    <style>
      .fake-link {
        cursor: pointer;
      }

      .fake-link:hover {
        color: blue;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="text-container" style="color: black">
      <div>
        <p class="mb-4 fake-link">
          Once upon a time there lived a youngster named Goldilocks. One day she
          went for a walk in the woods. She found a house and knocked on the
          door. No one answered, so she walked in.
        </p>
      </div>

      <div>
        <p class="mb-4 fake-link">
          Three bowls of porridge sat on the table. She tasted the porridge from
          the big bowl.
        </p>
      </div>

      <div>
        <p class="mb-4 fake-link">
          "This porridge is too hot," she said. She tasted the porridge from the
          medium bowl.
        </p>
      </div>

      <div>
        <p class="mb-4 fake-link">
          "This porridge is too cold," she said. She tasted the porridge from
          the small bowl.
        </p>
      </div>

      <div>
        <p class="mb-4 fake-link">
          "This porridge is just right," she said and ate it all.
        </p>
      </div>

      <div>
        <p class="mb-4 fake-link">
          Goldilocks saw three chairs. She sat in the big chair.
        </p>
      </div>

      <div>
        <p class="mb-4 fake-link">
          "This chair is too big," she said. She sat in the medium chair.
        </p>
      </div>
    </div>
  </body>
</html>
